extends ../templates/default.jade



block title
    title='Web Remote'

block content

    script.
        function sendCommand(command) {
            console.log("sendCommand");
            $.get("/send?remote=yamaha-rx-v863&type=command&command=" + command);
            return false;
        };

        function sendKeypress(keyId) {
            console.log("sendKeypress " + keyId);
            $.get("/send?remote=yamaha-rx-v863&type=keypress&key=" + keyId);
            return false;
        };

        function sendRaw(raw) {
            console.log("sendRaw");
            $.get("/send?remote=yamaha-rx-v863&type=raw&raw=" + raw);
            return false;
        };

        $(document).keydown(function(e){
            return sendKeypress(e.which);
        });

    div.jumbotron
        h1 Web Remote

        div
            a(class="btn btn-default", href="#", onClick="return sendRaw('nec 0x7e817e81');") zone1 on
            a(class="btn btn-default", href="#", onClick="return sendRaw('nec 0x7e81fe01');") off

        div
            a(class="btn btn-default", href="#", onClick="return sendRaw('nec 0x5EA16897');") radio
            a(class="btn btn-default", href="#", onClick="return sendRaw('nec 0x5EA1837C');") laptop
            a(class="btn btn-default", href="#", onClick="return sendRaw('nec 0x5EA1A857');") bluetooth

        div
            a(class="btn btn-default", href="#", onClick="return sendRaw('nec 0x5EA131CE');") 7ch enhanced
            a(class="btn btn-default", href="#", onClick="return sendRaw('nec 0x5EA16A95');") 7ch straight

        div
            a(class="btn btn-default", href="#", onClick="return sendRaw('nec 0x5EA121DE');") setup

        div
            a(class="btn btn-default", href="#", onClick="return sendRaw('nec 0x5EA1D827');") vol down
            a(class="btn btn-default", href="#", onClick="return sendRaw('nec 0x5EA158A7');") vol up
            a(class="btn btn-default", href="#", onClick="return sendRaw('nec 0x5EA138C7');") vol mute
            a(class="btn btn-default", href="#", onClick="return sendRaw('nec 0x7E81AE51');") vol movie
            a(class="btn btn-default", href="#", onClick="return sendRaw('nec 0x7E815EA1');") vol quiet
